11.1 Create a file called zoo.py. In it, define a function called hours() that prints the string 'Open 9-5 daily'. Then, use the interactive interpreter to import the zoo module and call its hours() function.

In [5]:
import zoo

zoo.hours()

Open 9-5 daily

11.2 In the interactive interpreter, import the zoo module as menagerie and call its hours() function.

In [6]:
import zoo as menagerie

menagerie.hours()

Open 9-5 daily

16.8 Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 16.4. As in 16.6, select and print the title column from the book table in alphabetical order.

In [2]:
import sqlite3
import sqlalchemy as sa

conn = sqlite3.connect('books.db')
curs = conn.cursor()

curs.execute('''CREATE TABLE books
    (title VARCHAR(20) PRIMARY KEY,
     author VARCHAR(20),
     year INT(4))''')

curs.execute('INSERT INTO books VALUES("The Weirdstone of Brisingamen","Alan Garner",1960)')
curs.execute('INSERT INTO books VALUES("Perdido Street Station","China Mi√©ville",2000)')
curs.execute('INSERT INTO books VALUES("Thud!","Terry Pratchett",2005)')
curs.execute('INSERT INTO books VALUES("The Spellman Files","Lisa Lutz",2007)')
curs.execute('INSERT INTO books VALUES("Small Gods","Terry Pratchett",1992)')

In [3]:
rows = conn.execute('SELECT title FROM books')

arr = []
for i in rows:
    arr.append(i)

print(sorted(arr))

[('Perdido Street Station',), ('Small Gods',), ('The Spellman Files',), ('The Weirdstone of Brisingamen',), ('Thud!',)]

In [4]:
      
curs.close()
conn.close()